env/
.venv/
.venv*/
venv/
node_modules/
dist/


__pycache__/
*.py[cod]
*.pyo
*.pyd

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.env
.env.*
!.env.example
!**/.env.example
.vscode/

.DS_Store
Thumbs.db

*.nc
data/raw